html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #75a66f;
  overflow-x: hidden; /* no scroll */
}

.main-card {
  max-width: 700px;
  width: 100%;
  border: 2px solid #198754;
  background-color: white;
  border-radius: 12px;
}

/* remove global white background */
* {
  box-sizing: border-box;
}

.green-background {
  background-image: url('imgs/background.png');
  background-repeat: repeat;
  background-size: auto;
}

#dessertImg {
  width: 500px;    
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px !important;
  padding: 3rem;
}

#menuImg {
  width: 500px;    
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px !important;
  padding: 3rem;
}
