html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #75a66f;
  overflow-x: hidden; /* no scroll */
}

.main-card {
  max-width: 700px;
  width: 100%;
  border: 2px solid #198754;
  background-color: white;
  border-radius: 12px;
}

/* remove global white background */
* {
  box-sizing: border-box;
}
